#contactForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-content {
  width: fit-content;
  padding: 30px 40px;
  border: 2px solid silver;
  margin-bottom: 20px;
}

.form-content div:not(.submit) {
  margin: 25px 0px;
  border-bottom: 1px solid white;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 6px 4px;
  color: white;
  font-size: 16px;
}

textarea {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 6px 4px;
  color: white;
  font-size: 16px;
  resize: both;
  width: 100%;
}

.submit button {
  border: none;
  outline: none;
  background-color: #00ffff;
  color: black;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

#successMessage {
  text-align: center;
  color: #00ffff;
  font-size: 18px;
  margin-top: 20px;
}
